body {
    background-color: #ffeaa7;
    font-family: Arial, sans-serif;
}

.signup-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.form-group {
    margin-bottom: 22px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 13px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease-in-out;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus {
    border-color: #8c9326;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.submit-btn {
    background-color: #e8e65a;
    color: #181818;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #aa4c8b;
}
